---
import Layout from '../../layouts/Layout.astro';
import {Content} from '../../content/en/about.md';
---

<Layout title="About - Athene noctua digital" locale="en">
	<main>
		<h1 class="Heading">About</h1>
		<Content />
	</main>
</Layout>

<style>
	main {
		padding: 1rem;
	}
	.Heading {
		font-size: 2rem;
	}
</style>
