---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Athene noctua digital">
	<main>
		<h1 class="Heading">Athene noctua digital</h1>
		<p>Welcome.</p>
	</main>
</Layout>

<style>
	.Heading {
		font-size: 2rem;
	}
</style>
